/* Ajustes leves para modo escuro e UX */

/* Remover setas dos inputs number (Webkit) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Seleção de texto mais suave no dark */
::selection {
	background: #4f46e5; /* indigo-600 */
	color: #ffffff;
}

/* Animação sutil nos botões */
button {
	transition: transform .05s ease-out;
}
button:active {
	transform: translateY(1px);
}
